.terminal-like{
  position: relative;
    width: 70%;
    padding-bottom: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px !important;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.6),0 6px 13px 4px rgba(0,0,0,0.56),0 0 0 1px rgba(0,0,0,0.3);
}

.terminal-like  .terminal-like-header{
    width: 100%;
    border: 0px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.terminal-like .terminal-like-title{
    width: 80%;
    text-align: center;
    display:inline-block;
    border-top-left-radius: inherit;
}

.terminal-like .terminal-like-buttons{
    position: absolute;
    right: 10px;
    text-align: center;
    margin-bottom: 3px;
    display:inline-block;
    border-top-right-radius: inherit;
}

.terminal-like .terminal-like-button{
    font-weight: bolder;
    font-family: monospace;
    margin-right: 2px;
    width: 20px;
    height: 20px;
    margin-left: 2px;
}

.terminal-like .terminal-like-prompt{
    padding-left: 2%;
    padding-right: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.terminal-like .terminal-like-textArea{
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 3px 3px 3px 3px;
	font-family: monospace;
}

.terminal-like .terminal-like-shell-body{
}


/* Usual <pre> has top and bottom margin which we don't need */
.terminal-like pre{
    margin: 0px 0px 0px 0px;
}
